<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Insert title here</title>
</head>
<body>
	
	<h1>Foto</h1>


	<h4 th:text="${foto.id}"></h4>
	<h1 th:text="${foto.titolo}"></h1>
	<p th:text="${foto.descrizione}"></p>
	<h2 th:text="${foto.visibile}"></h2>
	
	<img th:if="${foto.hasImage()}" th:src="@{'data:image/png;base64,'+${foto.getREImage()}}">
	
	
	<div>
		<p th:each="categoria : ${categorie}" th:text="${categoria.titolo}"></p>
	</div>
	
	<div>
		<p th:each="commento : ${commenti}" th:text="${commento.messaggio}"></p>
	</div>
	
</body>
</html>